@import "../common/common.scss";

#game_screen{
	width: 100%;
	background-color: #fff;
	height: 300px;
	margin-top: 80px;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 50px;
		background-color: #fff;
		position: absolute;
		top: -50px;
		left:0;
	}
}

#player_a, #player_b{
	width: 20px;
	height: 50px;
	position: absolute;
	background-color: aquamarine;
	bottom: 50%;
}

#player_a{
	right:auto;
	left:0;
	background-color: #b125a5;	
}

#player_b{
	right:0;
	left:auto;
	background-color: #0e58a2;
}