@import "../common/common.scss";


#form_chat{
  margin: 2.5em auto;
  overflow: scroll;
  overflow-x:hidden;
  padding: 12px;
  background-color: #ffffff2e;
  // width:clamp(200px, 500px, 100%);
  width:100%;
  resize: vertical;
  section{
    div{
      margin-bottom: 1em;
      > span{
        font-size: 0.9em;
        color: #fff;
      }
      > div{
        list-style: none;
        display: block;
        width: fit-content;
        padding: 8px 20px;
        background-color: #FFF;
        border-radius: 18px;
        margin-bottom: 4px;
      }
      &.my_dialog{
        text-align: right;
        > div{
         margin-left: auto;
        }
      }
    }
  }
}

#chat_inner{
  padding-bottom: 5px;
}

#form_submit{
  position: relative;
  textarea{
    padding: 8px;
    border: none;
    width: calc(100% - 81px);
    height: 140px;
    border-radius: 2px;
    flex-grow: 1;
  }
  button{
    margin-left: 1px;
    width: 80px;
    height: 140px;
    position: absolute;
    right: 0;
    top:0;
    padding:  8px 16px;
    border: none;
    border-radius: 2px;
    background: #333;
    color:#FFF;
    font-size: 1.3em;
    font-family: $font-strong;
    transition : all 0.2s ease 0s;
    line-height: 1;
    &:hover{
      background:$color-hover-blue;
    }
  }
}
