/**
* 0.0 - Mixin
*/

$color-background:#1c2129;
$color-gray-background:rgb(69, 118, 136);
$color-codam-pink:#a9297e;
$color-codam-blue:#1b93bc;
$color-codam-yellow:rgb(225, 175, 27);
$color-codam-red:#da241a;
$color-maintext:#bcd6d3;
$color-reactblue:#63dff8;

$font-strong: 'Bebas Neue', sans-serif;
$font-text: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$size-font-unit: calc(9px + 0.8vmin);


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  display: block;
  background-color: $color-gray-background;
}

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-text;
  font-size: $size-font-unit;
}

a {
  color: currentcolor;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

a:not([class]) {
  text-decoration-skip-ink:auto
}

iframe,
img,
object,
picture,
video {
  block-size: auto;
  display: block;
  max-inline-size: 100%
}

button,
input,
select,
textarea {
  font: inherit
}

H1, H2, H3, H4, H5, H6{
  font-family: $font-strong;
  letter-spacing: 0.03em;
  line-height: 1.2;
  display: inline-block;
  margin: 0;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 2.2em;
}

h3{
  font-size: 1.9em;
}

h4{
  font-size: 1.7em;
}

h5{
  font-size: 1.5em;
}

h6{
  font-size: 1.3em;
}

p {
  +H1, +H2, +H3, +H4, +H5, +H6{
    margin-top: 1em;
  }
}

div p:last-child{
  margin-bottom: 0;
}

.small{
  font-size: 80%;
}

#root {
  height: 100%;
  min-height: 100vh;
  position: relative;
  .main{
    padding: 6vw;
    a{
      color: $color-reactblue;;
    }
  }
}
